.modald {
    font-size: 12px;
    background-color: whitesmoke;
   padding: 30px;
   box-shadow: 0 0 4px 4px rgb(149, 149, 233);
   border-radius: 20px;
  }
  .modald > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modald > .content {
    width: 100%;
    padding: 10px 5px;
  }
 
  .modald > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }